.App {
  display: flex;
  flex-direction: column;
}

.request {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.result {
  padding: 10px;
}

.buttonReq {
  width: 100%;
}

.options {
  display: grid;
  gap: 1rem;
  padding: 10px;
}

.main_part {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title {
  font-weight: bold;
  margin: 5px;
}

.field {
  display: block;
  width: 100%;
  height: 1.5rem;
  box-sizing: border-box;
}

.params {
  display: grid;
  width: 100%;
}

.param {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.headerBody {
  margin: 5px;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
}

.response {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bodyResponse, .headerResponse, .options, .result {
  border: 1px solid gray;
}

h3 {
  margin: 0 0 10px;
}

button {
  height: max-content;
}

input {
  height: 1.5rem;
  box-sizing: border-box;
}

.error {
  color: red;
  border: 1px solid red;
}