.authorization {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.registration {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  top: 0;
  border: 1px solid gray;
  background: lightgray;
}

.user {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.allFiles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dataFile {
  border: 1px solid black;
  cursor: pointer;
}

.dataFile:hover {
  background: lightgray;
}
.error{
  margin: 20px;
  color: red;
}